<h1> <%= @user.name %> </h1>

Username: <%= @artist.username %><br>
Password: <%#= @artist.title %><br>  <%# commented line --> link to change? %>
Squirrel entry count: <%= @____._____ %><br>
View Squirrel entries: <%= @____._____ %><br> (index page?)